extends ../_popup

block title
  | BRILINTA&reg; (TICAGRELOR) Footnotes

block content
  p
    |* PLATO included both medical and invasive (PCI or CABG) treatment approaches. Patients who received fibrinolytic therapy within the
    br
    |&ensp;previous 24 hours or who had a need for chronic oral anticoagulation therapy were excluded.