extends ../_slide

block link
    -var menu = 'initiation';

block content
  h1 
    | BRILINTA Provides Efficient
    br
    | Initiation When Time 
    em Matters
  br
  br
  h3 BRILINTA Initiation in the ER, Cath Lab or other Hospital Setting Is NOT Restricted By:
  img(src="assets/images/graph@2x.png", width="870", height="401")
  a.button(onclick="SystemBridge.launchPopUp('plato.html', null);") Plato Info
  
block footnotes_link
    a(onclick="SystemBridge.launchPopUp('footnotes.html', null);") Footnotes