extends ../_popup

block title
  | Plato Info

block content
  ul
    li In the Platelet Inhibition and Patient Outcomes (PLATO) study, 43% of patients were &ge;65 years of age and 15% were &ge;75 years of age. The relative risk of bleeding was similar among treatment groups and age groups; however, greater sensitivity of some older individuals cannot be ruled out
    li Initial aspirin loading dose is usually 325 mg, followed by a maintenance dose of 75 mg &ndash; 100 mg daily. Maintenance doses of aspirin above 100 mg reduce the effectiveness of BRILINTA. Avoid maintenance doses of aspirin &gt;100 mg daily