doctype 5
html(lang="en")
  head
    meta(name="viewport", content="width=device-width; initial-scale=1.0; maximum-scale=1.0;")
    script(script type="text/javascript", src="resource:js/SystemBridge.js")
    script(script type="text/javascript", src="resource:js/iscroll.js")
    script(script type="text/javascript", src="resource:js/noClickDelay.js")
    block stylesheets
    block scripts
body
    block body