<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Supported Orientations</key>
	<dict>
		<key>Landscape Left</key>
		<true/>
		<key>Landscape Right</key>
		<true/>
		<key>Portrait</key>
		<false/>
		<key>Portrait Upside Down</key>
		<false/>
	</dict>
	<key>Menu</key>
	<dict>
		<key>AssetID</key>
		<string>Revised_Menu</string>
	</dict>
	<key>ActiveCall</key>
	<array>
		<string>Page1</string>
		<string>Page2</string>
		<string>Page3</string>
		<string>Survey</string>
		<string>Interactive Data</string>
	</array>
	<key>Slides</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Page1</string>
			<key>URL</key>
			<string>Page1/index.html</string>
			<key>Landscape Preview</key>
			<string>Page1/Preview.jpg</string>
			<key>Is Mandatory</key>
			<true/>
			<key>Required Companion Slides</key>
			<array/>
		</dict>
		<dict>
			<key>Title</key>
			<string>Page2</string>
			<key>URL</key>
			<string>Page2/index.html</string>
			<key>Landscape Preview</key>
			<string>Page2/Preview.jpg</string>
			<key>Is Mandatory</key>
			<false/>
			<key>Required Companion Slides</key>
			<array>
				<string>Page3</string>
				<string>Interactive Data</string>
			</array>
		</dict>
		<dict>
			<key>Title</key>
			<string>Page3</string>
			<key>URL</key>
			<string>Page3/index.html</string>
			<key>Landscape Preview</key>
			<string>Page3/Preview.jpg</string>
			<key>Is Mandatory</key>
			<false/>
			<key>Required Companion Slides</key>
			<array/>
		</dict>
		<dict>
			<key>Title</key>
			<string>Survey</string>
			<key>URL</key>
			<string>Survey/index.html</string>
			<key>Landscape Preview</key>
			<string>Survey/Preview.jpg</string>
			<key>Is Mandatory</key>
			<false/>
			<key>Required Companion Slides</key>
			<array/>
		</dict>
		<dict>
			<key>Title</key>
			<string>Interactive Data</string>
			<key>URL</key>
			<string>IDO/index.html</string>
			<key>Landscape Preview</key>
			<string>IDO/Preview.jpg</string>
			<key>Is Mandatory</key>
			<false/>
			<key>Required Companion Slides</key>
			<array/>
		</dict>
	</array>
</dict>
</plist>
