<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSManagedObjectModel_CurrentVersionName</key>
	<string>PresentationKit</string>
	<key>NSManagedObjectModel_VersionHashes</key>
	<dict>
		<key>PresentationKit</key>
		<dict>
			<key>PKBrand</key>
			<data>
			8ACQVX0ERjdPKelHzRnzUWTSe4tSZVfmkh5Gugx43IA=
			</data>
			<key>PKBriefcase</key>
			<data>
			YcRs/MCndQmiWaSg5ThnduN2i9Yazp0dItAeVzhJAf0=
			</data>
			<key>PKBriefcaseRecipient</key>
			<data>
			fXZV+c1A1TdtCSzl5T0ipakC7IjHZ3SrRyViK6Ga0o0=
			</data>
			<key>PKCall</key>
			<data>
			zui48enJ4F8nCkJuDNldjkXmsjiZz4ni5ne256qUC34=
			</data>
			<key>PKDownloadProgress</key>
			<data>
			KUvXrwyqSdm28JvZvqQ7tQG1QzYmDSIF/zhiPGt28FQ=
			</data>
			<key>PKEvent</key>
			<data>
			u2PDaMuJGVVPmtXRcKBilh5Ff5wDIp1M4IHxLe4KV2U=
			</data>
			<key>PKEventRating</key>
			<data>
			kq/l4ll/XpYwvl2hj9ESEo9IoAYS0anWirZDc+eIdfE=
			</data>
			<key>PKFlow</key>
			<data>
			fnpFXQRteIxJOC/cUyZZLGil1uB6HMhwbYMOQz5Rap4=
			</data>
			<key>PKFlowSlide</key>
			<data>
			b9jAYsQrKIiVwN9UDPhTD9sun0zUJg32yXcHbAK4WIc=
			</data>
			<key>PKHealthCareProvider</key>
			<data>
			BFzaH8QlQTM22YYOj9YybXqSdQ469afdGoize2LX/iA=
			</data>
			<key>PKPackage</key>
			<data>
			JTahmJeSpdmKCDEqjie3c0d0tXvSuTESnuO60STRpgQ=
			</data>
			<key>PKPresentation</key>
			<data>
			np53r182FarGDCmnw0tYP5YjGAMKO3r3JECUh0YMg94=
			</data>
			<key>PKRepresentative</key>
			<data>
			c9GnuC/mG07Xehv8otXSamajE/fW0cjoxBGCM5SUpa8=
			</data>
			<key>PKSection</key>
			<data>
			O5b3XfPEtPwV5mmLe88UwWcvlYXlCENT9BB/gVhBMK8=
			</data>
			<key>PKSlide</key>
			<data>
			DfRfKSpyOtgz3Hg+byQZV58NiXT+GkWEn3GEVmBjctA=
			</data>
			<key>PKSlideModal</key>
			<data>
			ytYAC+ATLvtcliSJYvBZTLu82Ycg0N3VQzvg3sWvJu4=
			</data>
			<key>PKSupplementalMedia</key>
			<data>
			lcCF7Wn+BPpLkshxhJhtH6ZXgftVDRBDznZO15cGW7U=
			</data>
		</dict>
	</dict>
</dict>
</plist>
